<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container d-flex justify-content-between">
    <ul>
      <li><small>Contact Us</small></li>
      <li><small>Support</small></li>
      <li><small>Career</small></li>
      <li><small>Legal</small></li>
      <li><small>Copyright &copy; TacoCars</small></li>
    </ul>
    <ul>
      <li>
        <i class="fab fa-facebook"> Facebook</i>

      </li>
      <li>
        <i class="fab fa-twitter-square"> Twitter </i>

      </li>
    </ul>

  </div>
</footer>
