<!DOCTYPE html>
<html lang="en">

<head>
  <!---------------------Meta Information-------------------------->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=10">

  <!---------------------External CSS-------------------------->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/chat.css" type="text/css" />

  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>

  <!---------------------Font CSS-------------------------->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" />


  <title>Message</title>
  <!---------------------External CSS-------------------------->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <script> window.author = "<%= name %>" </script>
  <header class="header">
    <%- include('partials/_header') %>
  </header>

  <div class="chat-container">
    <div class="chat-header">
      <div class="logo">
        <i class="fab fa-rocketchat fa-2x"></i>
        <h3 class="h3"> TacoChat </h3>
      </div>
      <p id="your-name"> <%= name %> </p>
    </div>
    <!---------------------------------------------------->
    <div class="chat-section">
      <div class="main-wrapper">
        <div class="chat-content">
          <div class="message">
            <div class="message-row other-message">
              <div class="message-title">
                🚗 <span> Angel Ho </span>
              </div>
              <div class="message-text">
                Hi there! Why do you want to sell this car?
              </div>
              <div class="message-time">
                Aug 22 2020
              </div>
            </div>
            <div class="message-row you-message">
              <div class="message-title">
                🚙 <span> Stephanie Wolff</span>
              </div>
              <div class="message-text">
                Hi Angel! I really like this car but I am moving out of the country! Do you want to come see the car?
              </div>
              <div class="message-time">
                Aug 22 2020
              </div>

            </div>
          </div>

        </div>
        <!--------------------------------------------------------------------->
        <form class="msg-text">

          <input type="text" name="msg" id="msg" placeholder="Type a message here..." autocomplete="off">
          <button id="btn-send">
            <i class="fas fa-car-side"> Send </i>
          </button>
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      </div>
    </div>
  </div>

  <!-- <script>
    const socket = io('http://localhost:8080/message');
  </script> -->

  <script>
    // $(function() {
    //   let socket = io();
    //   $('form').submit(function(e) {
    //     e.preventDefault();
    //     socket.emit('chat message', { msg: $('#msg').val(), author: "Hanzo" });
    //     //author: would be going through the database for users email, will change when we have it so we can use template vars
    //     $('#msg').val('');
    //     return false;
    //   });

    //   socket.on('new message', function(msg) {
    //     console.log("msg", msg);
    //     // $('#msgList').append($("#message-text").text(msg));
    //     $('.message').append(`<div class="message-row other-message">
    //       <div class="message-title">
    //         👦<span> ${msg.author} </span>
    //       </div>
    //       <div class="message-text">
    //         ${msg.msg}
    //           </div>
    //       <div class="message-time">
    //         Aug 22
    //           </div>
    //     </div>`);

    //   });
    // });
  </script>
  <!--socket.on event handler on the client, receive th msg from the server jquery to get the list of msg then append msg to the chat box, -->
  <!-- footer-->
  <footer class="footer">
    <%- include('partials/_footer') %>
  </footer>

</body>


</html>
