// See: https://sass-lang.com/


// * {
//   margin            : 0;
//   padding           : 0;
//   box-sizing        : boarder-box;
// }

#container {
  width             : 100%;
}

#sticky-footer {
  width           : 100%
}

body {
  padding-top        :20%;
  .cars {
    display: flex;
    flex-direction: row;
  }
.image {
  width: 200px;
img {
  width: 200px;
}
  }
.carInfo {
    padding: 50px;
  }
}


