
#companyName {
  font-size         : 55px;
  color             : yellow;
}

.container {
  width             : 100%;
}

#sticky-footer {
  width           : 100%
}

body {
  padding-top     : 20%;
  .cars {
    display       : flex;
    flex-direction: row;
  }
.image {
  width           : 200px;
img {
  width           : 200px;
}
  }
.carInfo {
    padding        : 50px;
  }
}

#fav {
display           : none;

}

#remove {
  display         :none;
}

#removeF {
 display         :none;
}

#favForm {
  padding-bottom: 20px;
}

#myForms {
  display: flex;
  justify-content: space-evenly;
}

select {
  width: 60%;
}
